<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">


    
    <title>User</title>
</head>
<body>
<% include particals/navegation.ejs%>
<div class="container">
    <div class="row"id='app'>
        <div class="col-md-4 mt-3">
            <div class="card">
                <div class="card-header">
                    <h2>Registrar</h2>
                 </div>
                 <form id="form" class="animated pulse">
                     <div class="card-body">
                         <div class="form-group">
                             <input id="name" type="text" placeholder="Nombre" class="form-control">
                         </div>
                         <div class="form-group">
                                <input id="dni" type="number" placeholder="DNI" class="form-control">
                        </div>
                        <div class="form-group">
                                <input value="Agregar" type="submit" class="btn btn-block btn-info">
                        </div>
                     </div>

                 </form>

            </div>

        </div>
        <!--interface-->
        <div class="col-md-7 ml-3">
            <div class="card  mt-3">
                <h2>Agregados</h2>
            </div>
            
            <div class="face">

            </div>
        </div>

    </div>

</div>



<script src="form.js"></script>
    


</body>
</html>

